<configuration>

  <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

  <property name="CONSOLE_LOG_PATTERN" value="%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n"/>
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

  <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="app"/>
  <springProperty scope="context" name="APP_VERSION" source="info.app.version" defaultValue="1"/>
  <springProperty scope="context" name="LOG_FILE_MAX_SIZE" source="logging.max-size" defaultValue="50MB"/>
  <springProperty scope="context" name="LOG_FILE_MAX_HISTORY" source="logging.max-history" defaultValue="30"/>
  <springProperty scope="context" name="LOG_DISK_PATH" source="logging.path" defaultValue="logs/"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </layout>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DISK_PATH}${APP_NAME}.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DISK_PATH}${APP_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
      <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
      <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <file>${LOG_DISK_PATH}${APP_NAME}.error.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_DISK_PATH}${APP_NAME}.error.%i.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="FILE_TRACKING_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
        <expression>return (message.toLowerCase().contains("track_error"));
        </expression>
      </evaluator>
      <OnMismatch>DENY</OnMismatch>
      <OnMatch>ACCEPT</OnMatch>
    </filter>
    <file>${LOG_DISK_PATH}${APP_NAME}.tc.error.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_DISK_PATH}${APP_NAME}.tc.error.%i.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <!--<discardingThreshold>1</discardingThreshold>-->
    <!--<includeCallerData></includeCallerData>-->
    <!--<maxFlushTime></maxFlushTime>-->
    <appender-ref ref="FILE"/>
  </appender>

  <logger name="com.onlythinking" level="DEBUG"/>
  <logger name="me.chanjar.weixin" level="DEBUG"/>
  <logger name="org.mybatis" level="DEBUG"/>
  <logger name="com.onlythinking.shop.core.multipart.OrderedMultipartFilter" level="INFO"/>
  <!--<logger name="org.zalando.logbook" level="TRACE"/>-->
  <logger name="org.apache.shiro" level="DEBUG"/>
  <logger name="org.apache.ibatis" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="java.sql" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ASYNC"/>
    <appender-ref ref="FILE_ERROR"/>
    <appender-ref ref="FILE_TRACKING_ERROR"/>
  </root>

  <springProfile name="docker">
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="ASYNC"/>
      <appender-ref ref="FILE_ERROR"/>
      <appender-ref ref="FILE_TRACKING_ERROR"/>
    </root>
  </springProfile>

</configuration>
